@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 200;
  src: url("./PlusJakartaSans-200.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./PlusJakartaSans-300.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./PlusJakartaSans-400.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./PlusJakartaSans-500.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./PlusJakartaSans-600.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./PlusJakartaSans-700.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./PlusJakartaSans-800.woff") format("woff");
}
