/* Fonts */
@import url(../fonts/plus-jakarta-sans.css);

/* Variables */
:root {
  --c-brand: #fac562;
  --c-dark: #333;
  --c-body: #666;
  --c-light: #f8f8f8;
  --f-base: "Plus Jakarta Sans", sans-serif;
  --n-height: 100px;
}

/* Helpers & Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--c-body);
  font-family: var(--f-base);
  line-height: 1.8;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-dark);
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 400;
}

.heading-xl {
  font-size: clamp(44px, 10vw, 100px);
  text-transform: uppercase;
}

.heading-1 {
  font-size: clamp(32px, 6vw, 54px);
}

.heading-2 {
  font-size: clamp(28px, 4vw, 36px);
}

.heading-3 {
  font-size: 20px;
}

a {
  color: var(--c-dark);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: var(--c-brand);
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

section {
  padding: 140px 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
